.container{
  height: 600px;
  /* border: 3px solid black; */
}
.center {
  /* border: 3px solid black; */
  text-align: right;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 550px
}
img{
  float: left;
}
p.serif {
  font-family: "Calibri", Times, sans-serif;
  font-size: 50px;
  margin:0;
  padding:0;
  color: white;
}
p.serif2 {
  font-family: "Calibri", Times, sans-serif;
  font-size: 20px;
  margin:0;
  padding:0;
  color: white;
}
body{
  background-color: rgb(9, 9, 50);
}
